<h1>
    <%- texts.title %>
</h1>
<p class="desc"><%- texts.subtitle %></p>

<span class="captcha-img"> <% print(captchaImageTag) %> </span>
<p>
    <small><button id="refresh_link" onclick="newImage()"><%- texts.refresh_image_link %></button></small>
</p>

<form method="POST" id="captcha" action="<%- redirectUrl %>">
    <input type="text" name="phrase" placeholder="<%- texts.captcha_placeholder %>" autofocus autocomplete="off" />
    <!-- <input name="crowdsec_captcha" value="1" />
    <input name="refresh" value="0" id="refresh" /> -->
    <% if (error) { %>
    <p class="error"><%- error %></p>
    <% } %>

    <button type="submit"><%- texts.send_button %></button>
</form>
